@{
    ViewBag.Title = "Constructora | Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="loader">
    <img src="~/img/loading.gif" />
</div>

@section scripts{
    <script src="~/data/home/home.js"></script>
} 