<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Constructora | Login</title>

    <link rel="icon" href="~/img/constructora.ico" />
    <link rel="stylesheet" href="~/lib/scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/lib/chart/css/coreui-chartjs.css" />
    <link rel="stylesheet" href="~/lib/core/css/coreui.css" />
    <link rel="stylesheet" href="~/lib/main/css/style.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/css/sweetalert2.css" />
    <link rel="stylesheet" href="~/lib/constructora/css/constructora.css" />
    <link rel="stylesheet" href="~/data/login/login.css" />

</head>
<body class="c-app bg-success flex-row align-items-center">
    <div class="loader">
        <img src="~/img/loading.gif" />
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5">
                <div class="card-md-group">
                    <div class="card p-4 shadow">
                        <form id="frmlogin" class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <div class="text-center">
                                        <img src="~/img/constructora.png" class="rounded mx-auto d-block" style="height: 100px;" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label id="lblname">Usuario</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fa fa-user"></span>
                                            </span>
                                        </div>
                                        <input id="txtname" name="txtname" type="text" class="form-control" placeholder="Ingresar usuario" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label id="lblpassword">Contraseña</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fa fa-key"></span>
                                            </span>
                                        </div>
                                        <input id="txtpassword" name="txtpassword" type="password" class="form-control" placeholder="Ingresar contraseña" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <button id="btnlogin" type="button" class="btn btn-md btn-primary btn-block">Ingresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/js/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery/js/jquery.validate.min.js"></script>
    <script src="~/lib/core/js/coreui.bundle.js"></script>
    <script src="~/lib/core/js/coreui-utilities.js"></script>
    <script src="~/lib/core/js/coreui-utils.js"></script>
    <script src="~/lib/chart/js/coreui-chartjs.bundle.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/sweetalert/js/sweetalert2.min.js"></script>
    <script src="~/lib/constructora/js/constructora.js"></script>
    <script src="~/data/login/login.js"></script>
</body>
</html>